# Server port
PORT=

# Database URL
DATABASE_URL=

# JWT Secret
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

# Gmail (Nodemailer)
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Frontend URL (OAuth callback redirect)
FRONTEND_URL=http://localhost:3000